 .node_info_box > header {
    background :linear-gradient(180deg,#39485a,#293441 50%,#192129 51%,#192330);
    padding : 5px 20px;
    color : white;
}

.node_info{
    background-color: #f1f1f1;
    position:relative;
}

#tip{
    top: 0px;
    left:0px;
    position: relative;
    background-color: #f1f1f1;
}

#tip.n:after{
  margin: -1px 0 0 0;
  top: 0;
  left: 0;
}
