/*.main_block{
    height: 150vh;
    width: 100vw;
}
*/

.tree_graph{
  height: 100%;
  width: 100%;
}


.node circle {
  fill: #E56A23;
}

.node text {
  font: 10px sans-serif;
}


.node-internal > circle  {
  fill: #EF7325;
}



.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #E56A23;
  stroke-opacity: 0.9;
  stroke-width: 1.5px;
}

/*.link:hover {
  stroke-opacity: 0.9;
  stroke-width: 1.5px;
}*/

/*g:hover ~ g{
  stroke-opacity: 0.9;
  stroke-width: 1.5px;
}*/


